{$VPN_SITE_ADDRESS} {
    reverse_proxy awg2:51821 {
        header_down Set-Cookie "Path=/" "Path=/; Domain={$COOKIE_DOMAIN}"
    }
    encode gzip zstd
    header {
        +Set-Cookie "wg-easy=; Path=/; Max-Age=0; HttpOnly; Secure; SameSite=Lax"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
    }
}

{$PORTAL_SITE_ADDRESS} {
    reverse_proxy portal:8080
    encode gzip zstd
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
}
